<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Godefroy Le Merdy" %></title>
    <meta name="description" content="Emerald - Single Page Portfolio HTML Theme">
    <meta name="author" content="D&amp;I">
    
    <%= stylesheet_link_tag "style", "animate" %>
    <%= javascript_include_tag "scripts", "scripts-before-closing-body" %>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Open+Sans:400,300,700,600|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  
  <body class="<%= page_classes %>">
    
    <!-- Header Content -->
    <%= partial('header') %>
    
    <%= yield %>

    <!-- Footer Content -->
    <%= partial('footer') %>

    <!-- Go to Top Button -->
    <a class="go-to-top" href="#"></a>
    <!-- End Go to Top Button -->

    <!-- Navigation for Smartphones -->
    <div id="modal">
      <nav>
        <ul>
          <li>
            <a href="#" class="home-link">Home</a>
          </li>
          <li>
            <a href="#portfolio">Portfolio</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#about-us">About</a>
          </li>
          <li>
            <a href="#news">News</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="#" class="close-nav">X Close Navigation</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- End Navigation for Smartphones -->

  <!-- Scripts -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40287326-1', 'achat-maison-montpellier.fr');
    ga('send', 'pageview');

  </script>

</body>
</html>
